<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
        <add key="username" value="EAAAADaVoocGURh9k1RNmwEAzQ0Nc9Vr3E9kM7pmII1RGDCb" />
        <add key="password" value="EAAAAHlXYSbdzcIQN0dI2IYd340wnZPvt6hDBiWp/oSVvvIb" />
    </appSettings>
</configuration>
